<div class="container">
    <div class="row">
        <div class="col-md-1">
            <h1>Administración</h1>
        </div>
        <div class="col-md-1 offset-md-10">
            <app-logout-button></app-logout-button>
        </div>
    </div>
    <!-- TABS -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <button class="btn btn-link nav-link" [class.active]="panel == 'products'" data-toggle="tab"
                (click)="setPanel('products')">Productos</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="panel == 'orders'" data-toggle="tab"
                (click)="setPanel('orders')">Órdenes</a>
        </li>
    </ul>
    <!-- PRODUCTS / ORDERS PANEL -->
    <div class="tab-content">
        <div id="category1" class="tab-pane fade" [class.show]="panel == 'orders'" [class.active]="panel == 'orders'"
            *ngIf="panel === 'orders'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Orden #</th>
                        <th>Usuario</th>
                        <th>Dirección de entrega</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders | async">
                        <td>{{order.id}}</td>
                        <td>{{order.user}}</td>
                        <td>{{order.delivery_address}}</td>
                        <td>$ {{order.total}}</td>
                        <td>{{order.status}}</td>
                        <td>
                            <span *ngIf="order.status === 'IN_PROGRESS'">
                                <button class="btn btn-primary m-1" [disabled]="order.no_available_products"
                                    (click)="approveOrder(order.id)">Aprobar</button>
                                <button class="btn btn-danger m-1" (click)="rejectOrder(order.id)">Rechazar</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="category2" class="tab-pane fade" [class.show]="panel == 'products'"
            [class.active]="panel == 'products'" *ngIf="panel === 'products'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Detalle</th>
                        <th>Precio</th>
                        <th>Unidades disponibles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | async">
                        <td>{{product.name}}</td>
                        <td>{{product.detail}}</td>
                        <td>$ {{product.price}}</td>
                        <td>{{product.available_units}} unds</td>
                        <td>
                            <button class="btn btn-primary m-1">Editar</button>
                            <button class="btn btn-danger m-1">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>