<button type="button" class="btn btn-primary" (click)="openModal()">Realizar pedido</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Realizar pedido</h4>
            </div>
            <form (ngSubmit)="createOrder()">
                <div class="modal-body">
                    <label class="form-label" for="adddress-input">Dirección de entrega</label>
                    <input class="form-control" type="text" id="adddress-input" [(ngModel)]="address" name="address">
                    <label class="form-label" for="phone-input">Teléfono</label>
                    <input class="form-control" type="text" id="phone-input" [(ngModel)]="phone" name="phone">
                    <label class="form-label" for="dni-input">Idenitificación</label>
                    <input class="form-control" type="text" id="dni-input" [(ngModel)]="dni" name="dni">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Cerrar</button>
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>