<button type="button" class="btn btn-primary" (click)="openModal()">{{text}}</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Productos</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mt-4" *ngFor="let i of items | async">
                            <app-shopping-cart-item-card [isOrder]="!!orderId" [item]="i"></app-shopping-cart-item-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>